:root {
  --header-nav-height: 60px;
  --sidebar-width: 240px;
  --sidebar-collapse-width: 80px;
  --sidebar-view-detail: 300px;
}

body {
  @apply min-h-screen bg-white dark:bg-gray-800 dark:text-gray-200;
}
